/* =================NAVBAR================ */
nav {
    width: 100%;
    height: 5rem;
    display: grid;
    top: 0;
    left: 0;
    z-index: 2;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    font-size: 1.5rem;
    cursor: pointer;
}
nav button i {
    color: var(--color-black);
}

nav h3{
    font-weight: 700;
    color: var(--color-black);
}
/* =================MENU================ */
menu {
    background: var(--color-white);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -100%;
    z-index: 3;
    transition: var(--transition);
}
menu.active {
    left: 0;
}
.menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.menu-head h3{
    font-weight: 700;
}
.menu-head i{
    font-size: 1.5rem;
    cursor: pointer;
}
.menu-content .admin-btn i{
    transition: .3s;
    display: inline-block;
}
.menu-content .admin-btn.active i{
    /* filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5); */
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  display: inline-block;
}
.menu-content h1{
    margin-top: 4.5rem;
    cursor: pointer;
}
.menu-admin {
    display: none;
    margin: 2.5rem;
}
.menu-admin.active {
    display: block;
}
.menu-admin h2 {
    margin-top: 2rem;
    cursor: pointer;
}