section#types {
    margin-top: 5rem;
}
.type__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding: 1rem 0;
}
.type__box {
    border: 1px solid var(--color-lightgray);
    height: 15rem;
    padding: 1rem;
    cursor: pointer;
}
.type__icon {
    height: 30%;
    width: 25%;
}
.type__name {
    margin-top: 1rem;
}
.type__name h3 {
    font-weight: 600;
    line-height: 1.2;
}
.type__go {
    display: flex;
    justify-content: right;
    margin-top: 2rem;
}