.testing__container {
    padding: 2rem 0;
}

/* ===== HEADER ====== */
.header {
    display: flex;
    align-items: center;
}

.icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.header h3 {
    font-weight: 500;
}

/* ===== QUESTION ====== */
.question {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    text-align: center;
}

.question h3 {
    max-width: 70%;
}

/* ===== CHECK ====== */
.check__con {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    clear: both;
}

.check {
    width: 18%;
    height: 5rem;
    margin-right: 0.5rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check:last-child {
    margin-right: 0;
}

.check input[type=radio] {
    display: none;
}

.check__radio {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
}

/* button size */
.check:nth-child(2) .check__radio,
.check:nth-child(4) .check__radio {
    width: 80%;
    height: 80%;
}

.check:nth-child(3) .check__radio {
    width: 50%;
    height: 50%;
}

/* button color */
.check:nth-child(1) .check__radio,
.check:nth-child(2) .check__radio {
    border: 2px solid var(--color-red);
}

.check:nth-child(4) .check__radio,
.check:nth-child(5) .check__radio {
    border: 2px solid var(--color-green);
}

.check input[type=radio]:checked+.check__radio {
    background: var(--color-gray);
}

.check:nth-child(1) input[type=radio]:checked+.check__radio,
.check:nth-child(2) input[type=radio]:checked+.check__radio {
    background: var(--color-red);
}

.check:nth-child(4) input[type=radio]:checked+.check__radio,
.check:nth-child(5) input[type=radio]:checked+.check__radio {
    background: var(--color-green);
}

.check__text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1rem;
}


/* ===== DETAIL ====== */
/* .detail__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border: 1px solid var(--color-black);
    cursor: pointer;
}
.detail__box h3 {
    font-weight: 500;
}
.detail__box i {
    font-size: 1.5rem;
}
.detail__inside {
    display: none;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 2rem 1rem; 
    border: 1px solid var(--color-primary);
    border-top: 0;
}
.type {
    text-align: center;
    background: var(--color-light);
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
}
/* active */
/* .detail__box.active {
    background: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
}

.detail__inside.active {
    display: grid;
} */

.card__button button {
    width: 100%;
    margin-top: 3rem;
}