/* ============ CATEGORY ============ */
section#categories {
    margin-top: 5rem;
}
.category__container {
    padding: 2rem 0 2.5rem 0;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.title h3 {
    font-weight: 400;
}
.type__container {
    display: flex;
}
.type__radio {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
    background: var(--color-light);
    cursor: pointer;
}
.type input[type=radio] {
    display: none;
}
.type input[type=radio]:checked + .type__radio {
    background: var(--color-black);
    color: var(--color-white);
}
.line {
    width: 100%;
    height: 1px;
    background: var(--color-light);
    margin-top: 1rem;
}
.inside__large {
    margin-top: 0;
    height: 5px;
}




/* ============ DETAIL ============ */
.detail__container {
    padding: 2rem 0;
}
.detail {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0.5rem;
    text-align: center;

}
.label {
    color: var(--color-dark);
    font-size: 0.9rem;
}
.list {
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-gray);
    cursor: pointer;
}
.list h4 {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
