/* ========= 공통 부분 ======== */
.label {
    display: flex;
    align-items: center;
}

.label h3 {
    font-weight: 600;
    color: var(--color-lightgray);
}

.label h3.active {
    color: var(--color-black);
}

.button__container {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-lightgray);
}

.button__container h2 {
    font-weight: 300;
}

.button__container button {
    padding: 0.8rem 1.6rem;
}


/* ========= 팀 코드 ======== */
.code-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-lightgray);
}

.team-code {
    font-weight: 900;
}

.team-name:hover {
    text-decoration: underline;
}

.btn-light {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* ========= 팀 코드  추가 ======== */
.code-form {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.code-form input {
    margin-bottom: 1.5rem;
}

/* ========= 멤버 관리 ======== */
.list article {
    border-bottom: 1px solid var(--color-lightgray);
}

.lead__con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.lead-info {
    display: flex;
    align-items: center;
}

.lead__img {
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
}

.lead__img img {
    border-radius: 50%;
}

.lead__text {
    display: flex;
    align-items: center;
}

.lead__text h3 {
    margin-right: 1rem;
    font-weight: 500;
}

.lead__con button {
    border: 1px solid var(--color-lightgray);
    border-radius: 0.4rem;
    padding: 0.5rem 0;
    width: 100px;
    cursor: pointer;
    transition: var(--transition);
}

.lead__con button.active {
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
}

.type {
    padding: 0.15rem 0.8rem;
    border-radius: 0.4rem;
    background: var(--color-yellow);
    margin-right: 0.5rem;
}

.type h4 {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--color-white);
}


/*========== SPINNER ============*/
.spinner__container {
    border-bottom: 1px solid var(--color-lightgray);
    padding: 1rem 0;
}

.select-menu {
    border: solid 1px var(--color-gray);
    padding: 0.5rem 1rem;
    position: relative;
    background: var(--color-white);
    width: 100%;
    border-radius: 0.2rem;
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-btn input {
    outline: none;
    cursor: pointer;
    margin-top: 0;
    font-size: 0.9rem;
}

.select-btn i {
    transition: 0.3s;
    font-size: 1.5rem;
}

.options {
    z-index: 1;
    position: absolute;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    padding: 0.5rem 1rem;
    top: 4rem;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    transition: 0.2s;
    opacity: 0;
    display: none;
}

.options li {
    padding: 0.5rem;
    margin: 0.3rem 0;
    cursor: pointer;
}

/*========== SPINNER ACTIVE ============*/
.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu.active .options {
    display: block;
    opacity: 1;
}

.signup__content button {
    margin-top: 2.5rem;
    width: 100%;
    cursor: pointer;
}